body {

    background-image: url(./bit-website1/assets/topacio.jpg);

    font-style: italic;

    font-weight: bold;

    font-size:larger;

    color: rgb(5, 108, 108);

    size: 200px;
}

div { 

    color: black;
}

* {
    box-sizing: border-box;
  }

  .container {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows:auto;
    gap: 5px;
    border: 10px solid black;
    height: auto;
    width:fit-content;
    background-color: rgb(39, 163, 163);
    
  }

  .item {
    width: 120px;
    height: 120px;
    border: 10px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: 100%;
  }


