body {

    background-image: url(./bit-website1/assets/topacio.jpg);

    font-style: italic;

    font-weight: bold;

    font-size:larger;

    color: rgb(5, 108, 108);

    size: 200px;
}

div { 

    color: black;
}

